[
  {
    "name": "Brave",
    "twilioSid": "abc123",
    "twilioToken": "xyz987"
    "googleCloudStorageBucket": "pubsite_prod_rev_01234567890123456789",
    "googleCloudStorageFilePrefix": "stats/installs/installs_com.package.name_",
    "appleAppId": "1234567890"
  },
  {
    "name": "Client2",
    "twilioSid": null,
    "twilioToken": null,
    "googleCloudStorageBucket": null,
    "googleCloudStorageFilePrefix": null,
    "appleAppId": null
  }
]
